version: 2
jobs:
  build:
    working_directory: ~/go/src/github.com/Clever/wag
    docker:
      - image: cimg/go:1.24-node
    environment:
      CIRCLE_ARTIFACTS: /tmp/circleci-artifacts
      CIRCLE_TEST_REPORTS: /tmp/circleci-test-results
    steps:
      # If cimg/go:1.xx-node doesn't have the correct version of node, we can uncomment this and use cimg/go:1.xx instead
      # - run:
      #     command: |-
      #       sudo apt-get install -y curl
      #       curl -sL https://deb.nodesource.com/setup_24.x -o nodesource_setup.sh
      #       sudo bash nodesource_setup.sh
      #       sudo apt-get install -y nodejs=24.*
      #       rm nodesource_setup.sh
      - run:
          command: cd $HOME && git clone --depth 1 -v https://github.com/Clever/ci-scripts.git && cd ci-scripts && git show --oneline -s
          name: Clone ci-scripts
      - checkout
      - setup_remote_docker
      - run:
          command: mkdir -p $CIRCLE_ARTIFACTS $CIRCLE_TEST_REPORTS
          name: Set up CircleCI artifacts directories
      - run: make install_deps
      - run: make build
      - run:
          name: vet
          command: go vet -mod=readonly $(go list ./...)
      - run: make test
      - run: if [ "${CIRCLE_BRANCH}" == "master" ]; then make release && $HOME/ci-scripts/circleci/submodule-github-release $GH_RELEASE_TOKEN clientconfig; fi;
      - run: if [ "${CIRCLE_BRANCH}" == "master" ]; then make release && $HOME/ci-scripts/circleci/submodule-github-release $GH_RELEASE_TOKEN logging/wagclientlogger; fi;
      - run: if [ "${CIRCLE_BRANCH}" == "master" ]; then make release && $HOME/ci-scripts/circleci/github-release $GH_RELEASE_TOKEN release; fi;
      - run: $HOME/ci-scripts/circleci/catalog-sync $CATAPULT_URL $CATAPULT_USER $CATAPULT_PASS wag utility
